body {
    background-color: #EDE8DD;
}

.nav-container {
    background-color: #963226;
    color: white;
}

.nav-logo {
    background-color: #963226;
    height: 150px;
    padding-left: 50px;
}

.footer-container {
    background-color: #963226;
    color: white;
}