body {
    background-color: #EDE8DD;
    font-family: Montserrat;
}


/* NAVBAR STYLING */

.nav-container {
    background-color: #963226;
    color: white;
}

a {
    color: white !important;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #963226 !important;
    padding-right: 20px;
}

.navbar-nav {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 5px;
}

.nav-logo {
    background-color: #963226;
    height: 55px;
    padding-left: 30px;
}

.nav-icons-container {
    display: flex;
    margin-top: 10px;
}

.contact-link {
    margin-right: 50px;
}

.nav-icon {
    display: flex;
    margin-right: 10px;
}

.navbar-toggler {
    background-color: white !important;
}

.cart-total {
    font-size: 12px;
    display: inline;
}


/* BANNER STYLING */

.grid-container {
    background-color: #EDE8DD;
}

.intro-video {
    width: 100%;
}

.video-banner {
    grid-area: header;
}

.mens {
    grid-area: menu;
    background-color: rgba(0, 0, 0);
    background: url('./images/Mens.png');
    background-size: cover;
    padding: 50px;
}

.mens h1 {
    margin-top: 150px;
    margin-bottom: 150px;
    opacity: 0;
}

.mens:hover {
    background: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 1;
}

.mens:hover h1 {
    opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    .mens h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

@media only screen and (min-width: 760px) and (max-width: 960px) {
    .mens h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

.womens {
    grid-area: main;
    background-color: rgba(0, 0, 0);
    background: url('./images/Womens.png');
    background-size: cover;
    padding: 50px;
}

.womens h1 {
    margin-top: 150px;
    margin-bottom: 150px;
    opacity: 0;
}

.womens:hover {
    background: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 1;
}

.womens:hover h1 {
    opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    .womens h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

@media only screen and (min-width: 760px) and (max-width: 960px) {
    .womens h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

.uni {
    grid-area: right;
    background-color: rgba(0, 0, 0);
    background: url('./images/Unisex.png');
    background-size: cover;
    padding: 50px;
}

.uni h1 {
    margin-top: 150px;
    margin-bottom: 150px;
    opacity: 0;
}

.uni:hover {
    background: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 1;
}

.uni:hover h1 {
    opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    .uni h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

@media only screen and (min-width: 760px) and (max-width: 960px) {
    .uni h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu menu main main right right';
    gap: 10px;
    background-color: #EDE8DD;
    padding: 10px;
}

.grid-container>div {
    background-color: #EDE8DD;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}


/* CATEGORIES STYLING */

.shoe-categories {
    padding: 50px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    padding-bottom: 50px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.categories img:hover {
    transform: scale(1.2);
    padding-bottom: 5px;
}

.category-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.category-item {
    text-align: center;
    padding-top: 10px;
}


/* PRODUCTS PAGE STYLING */

.products-container {
    padding: 50px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}

h6 {
    text-align: center;
}

.shoe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.shoe-card {
    display: block;
    align-items: center;
}

.shoe-list-image {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.colour-button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    outline: none;
    border: 1px solid black;
}

.colour-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.colour-icon {
    /* margin: 5px; */
    /* text-align: center; */
    display: block;
    margin: 0 auto;
}

.filter-icon {
    color: #963226;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.filter-notice {
    text-align: center;
}

.product-photo-container {
    padding-bottom: 50px;
}


/* PRODUCT INFO STYLING */

.product-container {
    padding: 50px;
}

.shoe-list-altimage {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.product-details {
    padding-top: 50px;
    padding-bottom: 10px;
}

.size-container {
    padding-top: 50px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
}

.red-size {
    background-color: #963226;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
}

.grey-size {
    background-color: grey;
    color: black;
    border: 1px solid white;
    text-decoration: line-through;
    padding: 10px;
    margin: 5px;
}

.red-bag {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 50px;
    font-size: larger;
    border: none;
    background-color: #963226;
    color: white;
}

.red-bag:hover {
    text-decoration: underline;
}

.stock-notice {
    text-align: center;
    color: #963226;
    font-weight: 600;
}

.product-info {
    padding-bottom: 50px;
}

.product-colour-button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    outline: none;
    border: 1px solid black;
}

.size-link {
    color: black;
    text-decoration: none;
}

.size-link:hover {
    color: #963226;
    font-weight: 600;
    text-decoration: underline;
}

.cart-notice {
    padding-top: 30px;
}

.size-notice {
    padding-top: 20px;
}


/* RETURNS STYLING */

.returns-container {
    padding: 50px;
    /* padding-right: 200px; */
    /* padding-left: 200px; */
}

form {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.size-info a {
    color: black !important;
}

.size-info a:hover {
    color: #963226 !important;
}

input {
    margin: 10px;
}


/* SIZE GUIDE STYLING */

.size-guide {
    padding: 50px;
}

.table-container {
    width: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}

table {
    border: 1px solid grey;
}

table th,
table td {
    padding: 10px 20px;
}

tbody tr:nth-child(odd) {
    background: rgb(62, 62, 62);
    color: #fff;
}

.size-info {
    text-align: center;
}


/* CART STYLING */

.cart-container {
    padding: 50px;
}

.cart-pic {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.cart-icon {
    display: block;
    /* margin-right: 10px; */
    color: #963226;
    margin: 0 auto;
}

.cart-item {
    font-size: 15px;
}

.checkout-button {
    background-color: #963226;
    color: white;
    border: 1px solid white;
    margin-bottom: 500px;
    padding: 10px;
    margin: 5px;
    display: block;
    margin: 0 auto;
}


/* FOOTER STYLING */

.footer-container {
    background-color: #963226;
    color: white;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 12px;
    /* margin-top: -100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
}

.footer-logo {
    width: 120px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}

h5 {
    text-align: center;
}

li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
}

.footer-link {
    text-decoration: none;
}

.social-icons {
    margin: 5px;
}